.form {
    display: flex;
    flex-direction: column;

    width: 272px;
    margin: 24px auto 136px auto;
    padding: 40px 16px;

    border-radius: 8px;
    background: var(--white);
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);

    @media screen and (min-width: 768px) {
        width: 688px;
        padding: 40px 24px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 40px 40px 54px 40px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        column-gap: 25px;
        max-height: 520px;
    }

    @media screen and (min-width: 1280px) {
        max-height: 320px;
        column-gap: 42px;
    }
}

.label {
    color: var(--purple);
    font-size: 16px;
    font-weight: 400;
    line-height: 1; 
    letter-spacing: 0.4px;

    margin-bottom: 8px;
}

.input {
    padding: 15px 12px;

    border-radius: 8px;
    border: 1px solid var(--light-gray);
    color: var(--dark-gray);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 

    @media screen and (min-width: 768px) {
        width: 308px;
    }

    @media screen and (min-width: 1280px) {
        width: 372px;
    }

    transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: var(--light-gray);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    &:focus {
        outline: none;
        border-color: var(--purple);
    }

    &:invalid {
        border-color: var(--pink);
    }
}

.textarea {
    resize: none;
    min-height: 156px;
    padding: 15px 12px;

    border-radius: 8px;
    border: 1px solid var(--light-gray);
    color: var(--dark-gray);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 

    @media screen and (min-width: 768px) {
        width: 308px;
    }

    @media screen and (min-width: 1280px) {
        width: 372px;
    }

    transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--purple);
    }
}

.enabled {
    display: flex;
    flex-direction: column;
    position: relative;

    & .input:invalid ~ .inputBtn::after {
        display: block;
    }
    
}

.disabled {
    display: flex;
    flex-direction: column;
    position: relative;

    & .label,
    & .inputBtn {
        color: var(--light-gray);
    } 

    & .input,
    & .fakeInput {
        background-color: var(--white);
    }
}

.button {
    cursor: pointer;

    padding: 16px 12px;

    border: none;
    border-radius: 8px;
    background-color: var(--purple);
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
    color: var(--white);

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    @media screen and (min-width: 768px) {
        align-self: flex-end;
        width: 193px;
        margin-top: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 60px;
    }

    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hover-purple);
    }
}

.calendar {
    position: absolute;
    top: 88px;
    right: 0;
    z-index: 50;

    border-radius: 11px;
    background: var(--white);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);

    /* padding: 20px; */
}

.inputBtn {
    position: absolute;
    right: 16px;
    top: 40px;
    z-index: 15;

    cursor: pointer;

    border: none;
    background-color: transparent;
    color: var(--purple);

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: 'Invalid input';

        display: none;

        position: absolute;
        bottom: -36px;
        right: 7px;

        width: 200px;

        color: var(--pink);
        text-align: right;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
    }
}

.fakeInput {
    position: absolute;
    top: 24px;

    padding: 15px 12px;
    height: 56px;

    border-radius: 8px;
    border: 1px solid var(--light-gray);
    color: var(--dark-gray);
    background-color: var(--white);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 

    @media screen and (min-width: 768px) {
        width: 308px;
    }

    @media screen and (min-width: 1280px) {
        width: 372px;
    }
}

.fakePlaceholder {
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}