.dropdown {
    position: relative;

    cursor: pointer;

    width: 69px;
    height: 48px;

    padding: 12px 4px 12px 12px;
    border-radius: 8px;
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.language {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: var(--dark-gray);
}

.options {
    position: absolute;
    bottom: -124px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 16px 12px;
    border-radius: 8px;
    background-color: var(--white);

    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}

.langOption {
    cursor: pointer;

    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    width: 45px;
    height: 24px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: var(--light-gray);

    border-bottom: 1px solid var(--light-gray);

    &:last-of-type {
        border-bottom: none;
    }

    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--hover-black);
    }
}

.arrow {
    cursor: pointer;

    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    color: var(--dark-gray);
}