.container {
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.category {
    cursor: pointer;

    padding: 16px;

    border: none;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
    color: var(--purple);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--hover-black);
    }
}

.sort {
    cursor: pointer;

    padding: 16px;

    border: none;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
    color: var(--dark-gray);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--purple);
    }
}

.buttonText {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }
}