body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;

  background-color: #FEFCFF;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #FEFCFF;
  --white: #fff;
  --black: #000;
  --purple: #7B61FF;
  --pink: #FF2B77;
  --yellow: #E2A300;
  --green: #6BD475;
  --dark-gray: #3F3F3F;
  --light-gray: #ACA7C3;
  --hover-purple: #6243FF;
  --hover-black: #3F3F3F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}

/* time function
350ms cubic-bezier(0.4, 0, 0.2, 1);
*/